<div class="header-container">
    <header class="site-head" style="background-image:url({{@blog.cover}})">
        <div class="header-text">
            <h1 class="blog-title">{{@blog.title}}</h1>
            <span class="blog-description">{{@blog.description}}</span>    
        </div>
    </header>
    <nav class="main-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i> Subscribe</a></li>
            </ul>
    </nav>
</div>
