{{!< default}}

{{! The main content area on the homepage }}
<main class="content" role="main">

    <header class="tag-archive-header">
        <h6>Posts tagged with: <em>{{tag.name}}</em></h6>
    </header>

    {{> post_loop }}

</main>